@font-face {
    font-family: 'standerdRegular';
    src: url('/fonts/otros/standerdRegular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'standerdRegular', sans-serif;
    background-color: #ffffff;
}